In [53]:
import numpy as np

In [54]:
import matplotlib.pyplot as plt

In [55]:
import pandas as pd

In [56]:
dataset=pd.read_csv('Data.csv')

In [57]:
X=dataset.iloc[:,:-1].values

In [58]:
Y=dataset.iloc[:,3].values

In [59]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.78],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [60]:
Y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [61]:
from sklearn.preprocessing import Imputer

In [62]:
imputer=Imputer(missing_values='NaN',strategy='mean',axis=0)

In [63]:
imputer=imputer.fit(X[:,1:3])

In [64]:
X[:,1:3]=imputer.transform(X[:,1:3])

In [65]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.78],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [66]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.78],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [67]:
# Data Preprocessing

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
dataset = pd.read_csv('Data.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values

# Taking care of missing data
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer = imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [68]:
dataset

   Country       Age    Salary Purchased
0   France  44.00000  72000.00        No
1    Spain  27.00000  48000.00       Yes
2  Germany  30.00000  54000.00        No
3    Spain  38.00000  61000.00        No
4  Germany  40.00000  63777.78       Yes
5   France  35.00000  58000.00       Yes
6    Spain  38.77778  52000.00        No
7   France  48.00000  79000.00       Yes
8  Germany  50.00000  83000.00        No
9   France  37.00000  67000.00       Yes

In [69]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.78],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)